### 1. Unique words in a Sentence

In [2]:
sentence = "python is easy and python is powerful"
words = sentence.split()
unique_words = set(words)

print(f"Unique words count: {len(unique_words)}")
print(f"Unique words  {unique_words}")

Unique words count: 5
Unique words  {'and', 'is', 'python', 'easy', 'powerful'}

### 2. Highest Salary from Employee Data

In [4]:
employees = {
    "Ravi": 75000,
    "Ankita": 68000,
    "Kiran":72000
}

high_sal = max(employees, key = employees.get)
print(f"Highest Salary: {high_sal} - {employees[high_sal]}")

Highest Salary: Ravi - 75000

### 3. Find Maximum and Minimum Values

In [6]:
numbers = [45, 22, 89, 10, 66]
maximum = minimum = numbers[0]
for n in numbers:
    if n > maximum:
        maximum = n
    if n < minimum:
        minimum = n

print(f"List: {numbers}")
print(f"Max: {maximum:}")
print(f"Min: {minimum}")

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

### 4. Count Products Above a Price Threshold

In [8]:
prices = [450, 1200, 899, 1500, 300]
count = 0

for price in prices:
    if price > 1000:
        count += 1

print(f"Products above 1000: {count}")

Products above 1000: 2

### 5. Calculate Attendance Percentage

In [10]:
attendance = ["P", "P", "A", "P", "P"]
present_count = attendance.count("P")
total_days = len(attendance)
percentage = (present_count / total_days) * 100
print(f"Attendance Percentage: {percentage}")

Attendance Percentage: 80.0

### 6. Remove Duplicate Phone Numbers

In [12]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print(f"Unique phone numbers: {unique_numbers}")

Unique phone numbers: {9876543210, 9123456789}

### 7. Count Character Frequency

In [14]:
text = "pythonp"
count = {}
for char in text:
    count[char] = count.get(char, 0) + 1

print(count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

### 8. Convert List to Tuple

In [16]:
list = [10, 20, 30]
tuple = tuple(list)
print(f"Tuple: {tuple}")

Tuple: (10, 20, 30)

### 9. Check if a key Exists in a Dictionary

In [30]:
employee_data = {"id": 101, "name": "Sumith", "dept": "Tech"}
key = "name"

if key in employee_data:
    print("Employee exists")

Employee exists

### 10. Calculate Average Marks

In [33]:
marks = [80, 75, 60, 75]
average = sum(marks) / len(marks)
print(f"Average Marks: {average}")

Average Marks: 72.5